[core]
    editor = vim
    excludesfile = ~/.gitignore

[credential]
    helper = cache

[push]
    default = simple

[pager]
    log = less --quit-if-one-screen --no-init --RAW-CONTROL-CHARS --chop-long-lines

[user]
    name = Hayden Eskriett
    email = hayden@eskriett.com

[github]
    user = eskriett

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[alias]
    a = add
    c = commit
    s = status -s
    ss = status
    uns = reset HEAD
